
# Virtual Environment
venv/
env/
ENV/

# IDE
.idea/
.vscode/
*.swp
*.swo

# Environment variables
.env
.env.*

# Database
*.db
*.sqlite3
*.db-journal

# Logs
*.log

# OS specific
.DS_Store
Thumbs.db

# Project specific
example.db 


*.png

*.mp3

!01_ALL_APIS/audio_file.mp3

audio_file_transcription.txt