
# Virtual Environment
venv/
env/
ENV/

# IDE
.idea/
.vscode/
*.swp
*.swo

# Environment variables
.env
.env.*

# Database
*.db
*.sqlite3
*.db-journal

# Logs
*.log

# OS specific
.DS_Store
Thumbs.db

# Project specific
example.db 


*.png